{%  liquid 
    assign layout_max_width = section.settings.layout_max_width
    assign padding_top = section.settings.padding_top
    assign padding_bottom = section.settings.padding_bottom

%} 
{%  style  %}
.featured-slider {
--padding_top:{{padding_top}}px;
--padding_bottom:{{padding_bottom}}px;



}

{% if layout_max_width != blank %}

.featured-slider .page-width {
    max-width: {{ layout_max_width }};
}

{% endif %}

{% endstyle %}


<section class="color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width">
        
        <div class="swiper {{section.id}}">
            <div class="swiper-wrapper">
        
                {% for block in section.blocks %}
                    {%  case block.type  %}
                        {%  when 'image-slider' %}
                                {% render 'featured-image-slider'
                                    media:block.settings.media
                                    media_phone:block.settings.media_phone, 
                                    sub_title:block.settings.sub_title
                                    title:block.settings.title
                                    title_max_width:block.settings.title_max_width
                                    content:block.settings.content
                                    content_max_width:block.settings.content_max_width
                                    btn_text:block.settings.btn_text
                                    btn_url:block.settings.btn_url,
                                    color_scheme:block.settings.color_scheme,

                                    icons:block.settings.icons,
                                    icon_01:block.settings.icon_01,
                                    icon_02:block.settings.icon_02,
                                    icon_03:block.settings.icon_03,
                                    icon_04:block.settings.icon_04,
                                    icon_05:block.settings.icon_05,
                                    icon_06:block.settings.icon_06,
                                    icon_07:block.settings.icon_07,
                                    bottom_text: block.settings.bottom_text,

                                    badge: block.settings.badge
                                    badge_image: block.settings.badge_image
                                    badge_text: block.settings.badge_text
                                    badge_width: block.settings.badge_width
                                    vertical: block.settings.vertical
                                    horizontal: block.settings.horizontal
                                    badge_width_phone: block.settings.badge_width_phone
                                    vertical_phone: block.settings.vertical_phone
                                    horizontal_phone: block.settings.horizontal_phone
                                    
                                
                                %}
                    {% endcase %}
                

                {% endfor %}
                    
            </div>
            <div class="swiper-slider-control">
                <div class="swiper-button-prev {{ section.id }}_prev"></div>
                 <div class="swiper-pagination {{ section.id }}_pagination "></div>
                
                <div class="swiper-button-next {{ section.id }}_next"></div>
            </div>
            
        </div>


    </div>
</section>

<script>
    var swiper = new Swiper(".{{section.id}}", {
        slidesPerView: 1,
        spaceBetween: 20,
        speed:2000,
        effect: "fade",
        loop:true,
        // autoplay:{
        //     delay:0
        // },
        freeMode: true,
        navigation: {
        nextEl: ".{{ section.id }}_next",
        prevEl: ".{{ section.id }}_prev",
      },
      pagination: {
        el: ".{{ section.id }}_pagination",
        clickable: true,
      },
        
    
});

</script>