 
<div class="hero-banner-search">
    <form action="{{ routes.search_url }}" method="get">
        <img src="{{ 'search-sm.png' |  asset_url }}" class="search-icon">
        <input 
                type="search" 
                placeholder=" {{ placeholder  }}"
                value="{{ search.tearms }}"
                name="q"
                >
        <button type="submit" class="btn"><span>{{ search_btn }}</span> {% render 'right-arrow' %}</button>
    </form>     
</div>



