{{ 'scrolling-logo.css' | asset_url |  stylesheet_tag }}


{% liquid
assign padding_top = section.settings.padding_top
assign padding_bottom = section.settings.padding_bottom

assign logo_filter = section.settings.logo_filter
assign logo_height = section.settings.logo_height
assign rtl = section.settings.rtl

if rtl == true
assign isRtl = 'dir="rtl"'
endif

assign speed  = section.settings.speed 
assign loop = section.settings.loop


if loop == true
assign isLoop = 'loop:true,'
endif


assign slide_in_desktop = section.settings.slide_in_desktop
assign gap_in_desktop = section.settings.gap_in_desktop

assign slide_in_phone = section.settings.slide_in_phone
assign gap_in_phone = section.settings.gap_in_phone


      

%}

{%  style  %}
.scrolling_logo {
--padding_top:{{padding_top}}px;
--padding_bottom:{{padding_bottom}}px;
--logo-height:{{logo_height}}px;
}

{% if logo_filter == true %}
.scrolling-logo .slide_logo {
  filter: brightness(0) invert(1);
  opacity: 0.5;
}
{% endif %}
{% endstyle %}

<section class="color-{{ section.settings.color_scheme }} gradient">
    <div {{ isRtl }} class="swiper logoSlider scrolling-logo">
            
        <div class="swiper-wrapper">
        
        {% for block in section.blocks %}
                    {%  liquid
                        assign media = block.settings.logo
                    %} 
                    <div class="swiper-slide scroll-logo">
                    {% if media %}
                    
                        {{ media
                            | image_url: width:'300px', height:'50px'
                            | image_tag:
                            class: 'slide_logo',
                            loading: 'lazy',
                            fetchpriority: 'high'  
                        }}
                    {% else %}
                        {{ 'hero-apparel-1' | placeholder_svg_tag: 'scroll-logo' }}
                    {% endif %}
                    </div>
                {% endfor %}
                </div>
            
        </div>
</section>


<script>
    var swiper = new Swiper(".logoSlider", {
        slidesPerView: {{ slide_in_phone }},
        spaceBetween: {{ gap_in_phone }},
        speed:{{ speed }},
        {{ isLoop }}
        autoplay:{
            delay:0
        },
        freeMode: true,
        

        breakpoints: {
           
            1024: {
            slidesPerView: {{slide_in_desktop}},
            spaceBetween: {{ gap_in_desktop }},
            }
           
        },

});

</script>




{%  schema  %} 
    {
        "name": "Scrolling Logo",
        "class": "scrolling_logo",
        "tag": "section",
        "blocks": [
             {
                "type": "logo",
                "name": "Logo",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "logo",
                        "label": "Add Logo"
                    }
                ]
            }
        ],
        "settings": [
            {
                "type": "header",
                "content": "Section Style"

            },
              {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Section Color",
            "default": "scheme-5"
            },
           
            {
                "type": "range",
                "id": "padding_top",
                "label": "Padding Top",
                "min":0 ,
                "max": 100,
                "step": 5,
                "default":20,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Padding Bottom",
                "min":0 ,
                "max": 100,
                "step": 5,
                "default":20,
                "unit": "px"
            },
             {
                "type": "header",
                "content": "Slider Style"

            },
            {
                "type": "checkbox",
                "id": "logo_filter",
                "label": "Logo Filter"
            },
             {
                "type": "range",
                "id": "logo_height",
                "label": "Logo Height",
                "min":50 ,
                "max": 300,
                "step": 5,
                "default":60,
                "unit": "px"
            },
            {
                "type": "checkbox",
                "id": "rtl",
                "label": "Slider Right To Left",
                "default":false
            },
            {
                "type": "range",
                "id": "speed",
                "label": "Slider Speed",
                "min":0 ,
                "max": 9000,
                "step": 100,
                "default":2000,
                "unit": "ms"
            },
            {
                "type": "checkbox",
                "id": "loop",
                "label": "Loop",
                "default":true
            },
             {
                "type": "range",
                "id": "slide_in_desktop",
                "label": "Slide In Dekstop",
                "min":1,
                "max": 12,
                "step": 1,
                "default":5
            },
             {
                "type": "range",
                "id": "gap_in_desktop",
                "label": "Gap In Dekstop",
                "min":0,
                "max": 100,
                "step": 1,
                "default":50
            },
            {
                "type": "range",
                "id": "slide_in_phone",
                "label": "Slide In Phone",
                "min":1,
                "max": 8,
                "step": 1,
                "default":2
            },
             {
                "type": "range",
                "id": "gap_in_phone",
                "label": "Gap In Phone",
                "min":0,
                "max": 100,
                "step": 1,
                "default":30
            },
             
        ],
        "disabled_on": {
            "groups": ["header","footer","aside"]
        },
        "presets": [
            {
                "name": "Scrolling Logo"
            }
        ]
}

{% endschema %}
